In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.decomposition import PCA
from sklearn.impute import KNNImputer
from category_encoders import TargetEncoder

In [2]:
# Load the dataset
parquet_file = "imperial_dataset_20240523.parquet"
df = pd.read_parquet(parquet_file, engine='pyarrow')

# Display basic information about the dataset
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290802 entries, 0 to 290801
Data columns (total 69 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID_QUOTE                          290802 non-null  int64
 1   DAYSTOINCEPTION                   290799 non-null  float64
 2   MARITALSTATUS                     290799 non-null  object
 3   NOOFCHILDREN                      290799 non-null  float64
 4   HOMEOWNERIND                      290799 non-null  object
 5   VEHICLE_DATEMANUFACTURED          290799 non-null  object
 6   VEHICLE_LEFTORRIGHTHANDDRIVE      290799 non-null  object
 7   VEHICLE_DATEFIRSTREGD             290799 non-null  object
 8   VEHICLE_PURCHASEDATE              290799 non-null  object
 9   DRIVER1_NONMOTORINGCONVICTIONIND  290799 non-null  object
 10  DRIVER2_NONMOTORINGCONVICTIONIND  159597 non-null  object
 11  DRIVER3_NONMOTORINGCONVICTIONIND  36969 non-null   object
 12  DRIVER4_NONMOTORINGCONVICTIONIND  4515 non-null    object
 13  DRIVER1_AGE                       290799 non-null  float64
 14  DRIVER2_AGE                       159597 non-null  float64
 15  DRIVER3_AGE                       36969 non-null   float64
 16  DRIVER4_AGE                       4515 non-null    float64
 17  DRIVER1_LICENCETYPE               290799 non-null  object
 18  DRIVER2_LICENCETYPE               159597 non-null  object
 19  DRIVER3_LICENCETYPE               36969 non-null   object
 20  DRIVER4_LICENCETYPE               4515 non-null    object
 21  DRIVER1_NOOFYEARSUKRESIDENCY      290799 non-null  float64
 22  DRIVER2_NOOFYEARSUKRESIDENCY      159597 non-null  float64
 23  DRIVER3_NOOFYEARSUKRESIDENCY      36969 non-null   float64
 24  DRIVER4_NOOFYEARSUKRESIDENCY      4515 non-null    float64
 25  DRIVER1_OTHERVEHICLEOWNEDIND      290799 non-null  object
 26  DRIVER2_OTHERVEHICLEOWNEDIND      159597 non-null  object
 27  DRIVER3_OTHERVEHICLEOWNEDIND      36969 non-null   object
 28  DRIVER4_OTHERVEHICLEOWNEDIND      4515 non-null    object
 29  POSTCODESECTOR                    290799 non-null  object
 30  NOOFVEHICLESAVAILABLETOFAMILY     290799 non-null  float64
 31  MONTHLYPAYMENTSIND                290799 non-null  object
 32  YEARS_NOCLAIMSDISCOUNT            290799 non-null  float64
 33  VEHICLE_VALUE                     290799 non-null  float64
 34  VEHICLE_ANNUALMILEAGE             290799 non-null  float64
 35  VEHICLE_USE_TYPE                  290799 non-null  object
 36  VEHICLEOVERNIGHTLOCATION          290799 non-null  object
 37  VEHICLE_OWNERSHIP                 290799 non-null  object
 38  VEHICLE_MODIFIEDIND               290799 non-null  object
 39  VEHICLE_AGE                       290799 non-null  float64
 40  VEHICLE_BODYTYPE                  290799 non-null  object
 41  VEHICLE_FUELTYPE                  290799 non-null  object
 42  VEHICLE_TRANSMISSIONTYPE          290799 non-null  object
 43  VEHICLE_NOOFSEATS                 290799 non-null  float64
 44  DRIVER1_CREDITSCORE               286813 non-null  float64
 45  DRIVER2_CREDITSCORE               157347 non-null  float64
 46  DRIVER3_CREDITSCORE               36574 non-null   float64
 47  DRIVER4_CREDITSCORE               4435 non-null    float64
 48  VEHICLE_MODEL                     290799 non-null  object
 49  VEHICLE_MODELNAME                 290799 non-null  object
 50  VEHICLE_CUBICCAPACITY             290799 non-null  float64
 51  DRIVER1_NRCONVICTIONS_RECENT      290799 non-null  float64
 52  DRIVER2_NRCONVICTIONS_RECENT      290799 non-null  float64
 53  DRIVER3_NRCONVICTIONS_RECENT      290799 non-null  float64
 54  DRIVER4_NRCONVICTIONS_RECENT      290799 non-null  float64
 55  DRIVER1_NRCONVICTIONS_LONGER      290799 non-null  float64
 56  DRIVER2_NRCONVICTIONS_LONGER      290799 non-null  float64
 57  DRIVER3_NRCONVICTIONS_LONGER      290799 non-null  float64
 58  DRIVER4_NRCONVICTIONS_LONGER      290799 non-null  float64
 59  DRIVER1_CLAIMSCOUNT_RECENT        290799 non-null  float64
 60  DRIVER2_CLAIMSCOUNT_RECENT        290799 non-null  float64
 61  DRIVER3_CLAIMSCOUNT_RECENT        290799 non-null  float64
 62  DRIVER4_CLAIMSCOUNT_RECENT        290799 non-null  float64
 63  DRIVER1_CLAIMSCOUNT_LONGER        290799 non-null  float64
 64  DRIVER2_CLAIMSCOUNT_LONGER        290799 non-null  float64
 65  DRIVER3_CLAIMSCOUNT_LONGER        290799 non-null  float64
 66  DRIVER4_CLAIMSCOUNT_LONGER        290799 non-null  float64
 67  UNDISCLOSED_CLAIMS                290799 non-null  float64
 68  TOP5PREMIUM                       106076 non-null  float64
dtypes: float64(39), int64(1), object(29)
memory usage: 153.1+ MB
None

In [3]:
df = df.drop('ID_QUOTE', axis=1)

In [4]:
# Drop the data where have a row of missing value, or have missing value on targeted variable TOP5PREMIUM.
df = df.dropna(subset=['DAYSTOINCEPTION', 'TOP5PREMIUM'])

In [5]:
df[df['TOP5PREMIUM'].isna()]

Empty DataFrame
Columns: [DAYSTOINCEPTION, MARITALSTATUS, NOOFCHILDREN, HOMEOWNERIND, VEHICLE_DATEMANUFACTURED, VEHICLE_LEFTORRIGHTHANDDRIVE, VEHICLE_DATEFIRSTREGD, VEHICLE_PURCHASEDATE, DRIVER1_NONMOTORINGCONVICTIONIND, DRIVER2_NONMOTORINGCONVICTIONIND, DRIVER3_NONMOTORINGCONVICTIONIND, DRIVER4_NONMOTORINGCONVICTIONIND, DRIVER1_AGE, DRIVER2_AGE, DRIVER3_AGE, DRIVER4_AGE, DRIVER1_LICENCETYPE, DRIVER2_LICENCETYPE, DRIVER3_LICENCETYPE, DRIVER4_LICENCETYPE, DRIVER1_NOOFYEARSUKRESIDENCY, DRIVER2_NOOFYEARSUKRESIDENCY, DRIVER3_NOOFYEARSUKRESIDENCY, DRIVER4_NOOFYEARSUKRESIDENCY, DRIVER1_OTHERVEHICLEOWNEDIND, DRIVER2_OTHERVEHICLEOWNEDIND, DRIVER3_OTHERVEHICLEOWNEDIND, DRIVER4_OTHERVEHICLEOWNEDIND, POSTCODESECTOR, NOOFVEHICLESAVAILABLETOFAMILY, MONTHLYPAYMENTSIND, YEARS_NOCLAIMSDISCOUNT, VEHICLE_VALUE, VEHICLE_ANNUALMILEAGE, VEHICLE_USE_TYPE, VEHICLEOVERNIGHTLOCATION, VEHICLE_OWNERSHIP, VEHICLE_MODIFIEDIND, VEHICLE_AGE, VEHICLE_BODYTYPE, VEHICLE_FUELTYPE, VEHICLE_TRANSMISSIONTYPE, VEHICLE_NOOFSEATS, DRIVER1_CREDITSCORE, DRIVER2_CREDITSCORE, DRIVER3_CREDITSCORE, DRIVER4_CREDITSCORE, VEHICLE_MODEL, VEHICLE_MODELNAME, VEHICLE_CUBICCAPACITY, DRIVER1_NRCONVICTIONS_RECENT, DRIVER2_NRCONVICTIONS_RECENT, DRIVER3_NRCONVICTIONS_RECENT, DRIVER4_NRCONVICTIONS_RECENT, DRIVER1_NRCONVICTIONS_LONGER, DRIVER2_NRCONVICTIONS_LONGER, DRIVER3_NRCONVICTIONS_LONGER, DRIVER4_NRCONVICTIONS_LONGER, DRIVER1_CLAIMSCOUNT_RECENT, DRIVER2_CLAIMSCOUNT_RECENT, DRIVER3_CLAIMSCOUNT_RECENT, DRIVER4_CLAIMSCOUNT_RECENT, DRIVER1_CLAIMSCOUNT_LONGER, DRIVER2_CLAIMSCOUNT_LONGER, DRIVER3_CLAIMSCOUNT_LONGER, DRIVER4_CLAIMSCOUNT_LONGER, UNDISCLOSED_CLAIMS, TOP5PREMIUM]
Index: []

[0 rows x 68 columns]

In [6]:
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
Index: 106074 entries, 0 to 279410
Data columns (total 68 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   DAYSTOINCEPTION                   106074 non-null  float64
 1   MARITALSTATUS                     106074 non-null  object
 2   NOOFCHILDREN                      106074 non-null  float64
 3   HOMEOWNERIND                      106074 non-null  object
 4   VEHICLE_DATEMANUFACTURED          106074 non-null  object
 5   VEHICLE_LEFTORRIGHTHANDDRIVE      106074 non-null  object
 6   VEHICLE_DATEFIRSTREGD             106074 non-null  object
 7   VEHICLE_PURCHASEDATE              106074 non-null  object
 8   DRIVER1_NONMOTORINGCONVICTIONIND  106074 non-null  object
 9   DRIVER2_NONMOTORINGCONVICTIONIND  63206 non-null   object
 10  DRIVER3_NONMOTORINGCONVICTIONIND  14038 non-null   object
 11  DRIVER4_NONMOTORINGCONVICTIONIND  1585 non-null    object
 12  DRIVER1_AGE                       106074 non-null  float64
 13  DRIVER2_AGE                       63206 non-null   float64
 14  DRIVER3_AGE                       14038 non-null   float64
 15  DRIVER4_AGE                       1585 non-null    float64
 16  DRIVER1_LICENCETYPE               106074 non-null  object
 17  DRIVER2_LICENCETYPE               63206 non-null   object
 18  DRIVER3_LICENCETYPE               14038 non-null   object
 19  DRIVER4_LICENCETYPE               1585 non-null    object
 20  DRIVER1_NOOFYEARSUKRESIDENCY      106074 non-null  float64
 21  DRIVER2_NOOFYEARSUKRESIDENCY      63206 non-null   float64
 22  DRIVER3_NOOFYEARSUKRESIDENCY      14038 non-null   float64
 23  DRIVER4_NOOFYEARSUKRESIDENCY      1585 non-null    float64
 24  DRIVER1_OTHERVEHICLEOWNEDIND      106074 non-null  object
 25  DRIVER2_OTHERVEHICLEOWNEDIND      63206 non-null   object
 26  DRIVER3_OTHERVEHICLEOWNEDIND      14038 non-null   object
 27  DRIVER4_OTHERVEHICLEOWNEDIND      1585 non-null    object
 28  POSTCODESECTOR                    106074 non-null  object
 29  NOOFVEHICLESAVAILABLETOFAMILY     106074 non-null  float64
 30  MONTHLYPAYMENTSIND                106074 non-null  object
 31  YEARS_NOCLAIMSDISCOUNT            106074 non-null  float64
 32  VEHICLE_VALUE                     106074 non-null  float64
 33  VEHICLE_ANNUALMILEAGE             106074 non-null  float64
 34  VEHICLE_USE_TYPE                  106074 non-null  object
 35  VEHICLEOVERNIGHTLOCATION          106074 non-null  object
 36  VEHICLE_OWNERSHIP                 106074 non-null  object
 37  VEHICLE_MODIFIEDIND               106074 non-null  object
 38  VEHICLE_AGE                       106074 non-null  float64
 39  VEHICLE_BODYTYPE                  106074 non-null  object
 40  VEHICLE_FUELTYPE                  106074 non-null  object
 41  VEHICLE_TRANSMISSIONTYPE          106074 non-null  object
 42  VEHICLE_NOOFSEATS                 106074 non-null  float64
 43  DRIVER1_CREDITSCORE               105166 non-null  float64
 44  DRIVER2_CREDITSCORE               62642 non-null   float64
 45  DRIVER3_CREDITSCORE               13899 non-null   float64
 46  DRIVER4_CREDITSCORE               1568 non-null    float64
 47  VEHICLE_MODEL                     106074 non-null  object
 48  VEHICLE_MODELNAME                 106074 non-null  object
 49  VEHICLE_CUBICCAPACITY             106074 non-null  float64
 50  DRIVER1_NRCONVICTIONS_RECENT      106074 non-null  float64
 51  DRIVER2_NRCONVICTIONS_RECENT      106074 non-null  float64
 52  DRIVER3_NRCONVICTIONS_RECENT      106074 non-null  float64
 53  DRIVER4_NRCONVICTIONS_RECENT      106074 non-null  float64
 54  DRIVER1_NRCONVICTIONS_LONGER      106074 non-null  float64
 55  DRIVER2_NRCONVICTIONS_LONGER      106074 non-null  float64
 56  DRIVER3_NRCONVICTIONS_LONGER      106074 non-null  float64
 57  DRIVER4_NRCONVICTIONS_LONGER      106074 non-null  float64
 58  DRIVER1_CLAIMSCOUNT_RECENT        106074 non-null  float64
 59  DRIVER2_CLAIMSCOUNT_RECENT        106074 non-null  float64
 60  DRIVER3_CLAIMSCOUNT_RECENT        106074 non-null  float64
 61  DRIVER4_CLAIMSCOUNT_RECENT        106074 non-null  float64
 62  DRIVER1_CLAIMSCOUNT_LONGER        106074 non-null  float64
 63  DRIVER2_CLAIMSCOUNT_LONGER        106074 non-null  float64
 64  DRIVER3_CLAIMSCOUNT_LONGER        106074 non-null  float64
 65  DRIVER4_CLAIMSCOUNT_LONGER        106074 non-null  float64
 66  UNDISCLOSED_CLAIMS                106074 non-null  float64
 67  TOP5PREMIUM                       106074 non-null  float64
dtypes: float64(39), object(29)
memory usage: 55.8+ MB
None

In [7]:
null_rows_count = df[
    df['DRIVER4_AGE'].notnull() & 
    df['DRIVER4_OTHERVEHICLEOWNEDIND'].notnull() & 
    df['DRIVER4_CREDITSCORE'].notnull()
].shape[0]
print(f"Number of rows where DRIVER4_AGE, DRIVER4_OTHERVEHICLEOWNEDIND, and DRIVER4_CREDITSCORE are all not null: {null_rows_count}")

null_rows_count = df[
    df['DRIVER3_AGE'].notnull() & 
    df['DRIVER3_OTHERVEHICLEOWNEDIND'].notnull() & 
    df['DRIVER3_CREDITSCORE'].notnull()
].shape[0]
print(f"Number of rows where DRIVER3_AGE, DRIVER3_OTHERVEHICLEOWNEDIND, and DRIVER3_CREDITSCORE are all not null: {null_rows_count}")

null_rows_count = df[
    df['DRIVER2_AGE'].notnull() & 
    df['DRIVER2_OTHERVEHICLEOWNEDIND'].notnull() & 
    df['DRIVER2_CREDITSCORE'].notnull()
].shape[0]
print(f"Number of rows where DRIVER2_AGE, DRIVER2_OTHERVEHICLEOWNEDIND, and DRIVER2_CREDITSCORE are all not null: {null_rows_count}")

Number of rows where DRIVER4_AGE, DRIVER4_OTHERVEHICLEOWNEDIND, and DRIVER4_CREDITSCORE are all not null: 1568
Number of rows where DRIVER3_AGE, DRIVER3_OTHERVEHICLEOWNEDIND, and DRIVER3_CREDITSCORE are all not null: 13899
Number of rows where DRIVER2_AGE, DRIVER2_OTHERVEHICLEOWNEDIND, and DRIVER2_CREDITSCORE are all not null: 62642

In [8]:
# From the outputs above, we found some of the additional drivers (Driver 2, 3 and 4) have unknown credit scores.
# We found the columns DRIVER_NRCONVICTIONS_RECENT, DRIVER_NRCONVICTIONS_LONGER, DRIVER_CLAIMSCOUNT_RECENT, and DRIVER_CLAIMSCOUNT_LONGER have wrong inputs as for some data points there are no additional drivers.

In [9]:
# Define the condition where DRIVER2_AGE, DRIVER2_OTHERVEHICLEOWNEDIND, and DRIVER2_CREDITSCORE are all null
condition_driver2 = (
    df['DRIVER2_AGE'].isnull() & 
    df['DRIVER2_OTHERVEHICLEOWNEDIND'].isnull() & 
    df['DRIVER2_CREDITSCORE'].isnull()
)

# Set the specified columns to null where the condition is true for DRIVER2
columns_to_nullify_driver2 = [
    'DRIVER2_NRCONVICTIONS_RECENT', 
    'DRIVER2_NRCONVICTIONS_LONGER', 
    'DRIVER2_CLAIMSCOUNT_RECENT', 
    'DRIVER2_CLAIMSCOUNT_LONGER'
]

df.loc[condition_driver2, columns_to_nullify_driver2] = np.nan

In [10]:
# Define the condition where DRIVER3_AGE, DRIVER3_OTHERVEHICLEOWNEDIND, and DRIVER3_CREDITSCORE are all null
condition_driver3 = (
    df['DRIVER3_AGE'].isnull() & 
    df['DRIVER3_OTHERVEHICLEOWNEDIND'].isnull() & 
    df['DRIVER3_CREDITSCORE'].isnull()
)

# Set the specified columns to null where the condition is true for DRIVER3
columns_to_nullify_driver3 = [
    'DRIVER3_NRCONVICTIONS_RECENT', 
    'DRIVER3_NRCONVICTIONS_LONGER', 
    'DRIVER3_CLAIMSCOUNT_RECENT', 
    'DRIVER3_CLAIMSCOUNT_LONGER'
]

df.loc[condition_driver3, columns_to_nullify_driver3] = np.nan

In [11]:
# Define the condition where DRIVER4_AGE, DRIVER4_OTHERVEHICLEOWNEDIND, and DRIVER4_CREDITSCORE are all null
condition_driver4 = (
    df['DRIVER4_AGE'].isnull() & 
    df['DRIVER4_OTHERVEHICLEOWNEDIND'].isnull() & 
    df['DRIVER4_CREDITSCORE'].isnull()
)

# Set the specified columns to null where the condition is true
columns_to_nullify_driver4 = [
    'DRIVER4_NRCONVICTIONS_RECENT', 
    'DRIVER4_NRCONVICTIONS_LONGER', 
    'DRIVER4_CLAIMSCOUNT_RECENT', 
    'DRIVER4_CLAIMSCOUNT_LONGER'
]

df.loc[condition_driver4, columns_to_nullify_driver4] = np.nan

In [12]:
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
Index: 106074 entries, 0 to 279410
Data columns (total 68 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   DAYSTOINCEPTION                   106074 non-null  float64
 1   MARITALSTATUS                     106074 non-null  object
 2   NOOFCHILDREN                      106074 non-null  float64
 3   HOMEOWNERIND                      106074 non-null  object
 4   VEHICLE_DATEMANUFACTURED          106074 non-null  object
 5   VEHICLE_LEFTORRIGHTHANDDRIVE      106074 non-null  object
 6   VEHICLE_DATEFIRSTREGD             106074 non-null  object
 7   VEHICLE_PURCHASEDATE              106074 non-null  object
 8   DRIVER1_NONMOTORINGCONVICTIONIND  106074 non-null  object
 9   DRIVER2_NONMOTORINGCONVICTIONIND  63206 non-null   object
 10  DRIVER3_NONMOTORINGCONVICTIONIND  14038 non-null   object
 11  DRIVER4_NONMOTORINGCONVICTIONIND  1585 non-null    object
 12  DRIVER1_AGE                       106074 non-null  float64
 13  DRIVER2_AGE                       63206 non-null   float64
 14  DRIVER3_AGE                       14038 non-null   float64
 15  DRIVER4_AGE                       1585 non-null    float64
 16  DRIVER1_LICENCETYPE               106074 non-null  object
 17  DRIVER2_LICENCETYPE               63206 non-null   object
 18  DRIVER3_LICENCETYPE               14038 non-null   object
 19  DRIVER4_LICENCETYPE               1585 non-null    object
 20  DRIVER1_NOOFYEARSUKRESIDENCY      106074 non-null  float64
 21  DRIVER2_NOOFYEARSUKRESIDENCY      63206 non-null   float64
 22  DRIVER3_NOOFYEARSUKRESIDENCY      14038 non-null   float64
 23  DRIVER4_NOOFYEARSUKRESIDENCY      1585 non-null    float64
 24  DRIVER1_OTHERVEHICLEOWNEDIND      106074 non-null  object
 25  DRIVER2_OTHERVEHICLEOWNEDIND      63206 non-null   object
 26  DRIVER3_OTHERVEHICLEOWNEDIND      14038 non-null   object
 27  DRIVER4_OTHERVEHICLEOWNEDIND      1585 non-null    object
 28  POSTCODESECTOR                    106074 non-null  object
 29  NOOFVEHICLESAVAILABLETOFAMILY     106074 non-null  float64
 30  MONTHLYPAYMENTSIND                106074 non-null  object
 31  YEARS_NOCLAIMSDISCOUNT            106074 non-null  float64
 32  VEHICLE_VALUE                     106074 non-null  float64
 33  VEHICLE_ANNUALMILEAGE             106074 non-null  float64
 34  VEHICLE_USE_TYPE                  106074 non-null  object
 35  VEHICLEOVERNIGHTLOCATION          106074 non-null  object
 36  VEHICLE_OWNERSHIP                 106074 non-null  object
 37  VEHICLE_MODIFIEDIND               106074 non-null  object
 38  VEHICLE_AGE                       106074 non-null  float64
 39  VEHICLE_BODYTYPE                  106074 non-null  object
 40  VEHICLE_FUELTYPE                  106074 non-null  object
 41  VEHICLE_TRANSMISSIONTYPE          106074 non-null  object
 42  VEHICLE_NOOFSEATS                 106074 non-null  float64
 43  DRIVER1_CREDITSCORE               105166 non-null  float64
 44  DRIVER2_CREDITSCORE               62642 non-null   float64
 45  DRIVER3_CREDITSCORE               13899 non-null   float64
 46  DRIVER4_CREDITSCORE               1568 non-null    float64
 47  VEHICLE_MODEL                     106074 non-null  object
 48  VEHICLE_MODELNAME                 106074 non-null  object
 49  VEHICLE_CUBICCAPACITY             106074 non-null  float64
 50  DRIVER1_NRCONVICTIONS_RECENT      106074 non-null  float64
 51  DRIVER2_NRCONVICTIONS_RECENT      63206 non-null   float64
 52  DRIVER3_NRCONVICTIONS_RECENT      14038 non-null   float64
 53  DRIVER4_NRCONVICTIONS_RECENT      1585 non-null    float64
 54  DRIVER1_NRCONVICTIONS_LONGER      106074 non-null  float64
 55  DRIVER2_NRCONVICTIONS_LONGER      63206 non-null   float64
 56  DRIVER3_NRCONVICTIONS_LONGER      14038 non-null   float64
 57  DRIVER4_NRCONVICTIONS_LONGER      1585 non-null    float64
 58  DRIVER1_CLAIMSCOUNT_RECENT        106074 non-null  float64
 59  DRIVER2_CLAIMSCOUNT_RECENT        63206 non-null   float64
 60  DRIVER3_CLAIMSCOUNT_RECENT        14038 non-null   float64
 61  DRIVER4_CLAIMSCOUNT_RECENT        1585 non-null    float64
 62  DRIVER1_CLAIMSCOUNT_LONGER        106074 non-null  float64
 63  DRIVER2_CLAIMSCOUNT_LONGER        63206 non-null   float64
 64  DRIVER3_CLAIMSCOUNT_LONGER        14038 non-null   float64
 65  DRIVER4_CLAIMSCOUNT_LONGER        1585 non-null    float64
 66  UNDISCLOSED_CLAIMS                106074 non-null  float64
 67  TOP5PREMIUM                       106074 non-null  float64
dtypes: float64(39), object(29)
memory usage: 55.8+ MB
None

In [13]:
# Function to Display the Top 5 Rows
def display_top_5_rows(dataframe, block_size=10):
    num_columns = dataframe.shape[1]
    for start in range(0, num_columns, block_size):
        end = start + block_size
        print(f"\nColumns {start + 1} to {min(end, num_columns)}:")
        print(dataframe.iloc[:, start:end].head())

# Function to Display Missing Values
def display_missing_values(dataframe, block_size=10):
    num_columns = dataframe.shape[1]
    for start in range(0, num_columns, block_size):
        end = start + block_size
        print(f"\nColumns {start + 1} to {min(end, num_columns)}:")
        missing_values = dataframe.iloc[:, start:end].isnull().sum()
        print(missing_values)

# Function to Display Unique Values
def display_unique_values(dataframe, block_size=10):
    num_columns = dataframe.shape[1]
    for start in range(0, num_columns, block_size):
        end = start + block_size
        print(f"\nColumns {start + 1} to {min(end, num_columns)}:")
        unique_values = dataframe.iloc[:, start:end].nunique()
        print(unique_values)

In [14]:
# Display the top 5 rows in blocks of 10 columns
display_top_5_rows(df, block_size=10)

Columns 1 to 10:
   DAYSTOINCEPTION MARITALSTATUS  NOOFCHILDREN HOMEOWNERIND  \
0              2.0             S           1.0            Y
1             21.0             S           0.0            N
2             29.0             S           0.0            N
3             10.0             M           1.0            Y
4              1.0             S           0.0            Y

  VEHICLE_DATEMANUFACTURED VEHICLE_LEFTORRIGHTHANDDRIVE VEHICLE_DATEFIRSTREGD  \
0               01/01/2015                            R            01/01/2015
1               01/01/2014                            R            01/01/2014
2               01/01/2015                            R            01/01/2015
3               01/01/2009                            R            01/01/2009
4               01/01/2022                            R            01/01/2022

  VEHICLE_PURCHASEDATE DRIVER1_NONMOTORINGCONVICTIONIND  \
0           08/11/2023                                N
1           01/09/2018                                N
2           08/11/2023                                N
3           01/03/2016                                N
4           01/11/2022                                N

  DRIVER2_NONMOTORINGCONVICTIONIND
0                                N
1                                N
2                                N
3                                N
4                                N

Columns 11 to 20:
  DRIVER3_NONMOTORINGCONVICTIONIND DRIVER4_NONMOTORINGCONVICTIONIND  \
0                             None                             None
1                             None                             None
2                                N                             None
3                             None                             None
4                                N                             None

   DRIVER1_AGE  DRIVER2_AGE  DRIVER3_AGE  DRIVER4_AGE DRIVER1_LICENCETYPE  \
0         21.0         49.0          NaN          NaN                   F
1         22.0         49.0          NaN          NaN                   F
2         20.0         57.0         51.0          NaN                   F
3         51.0         49.0          NaN          NaN                   F
4         25.0         53.0         51.0          NaN                   F

  DRIVER2_LICENCETYPE DRIVER3_LICENCETYPE DRIVER4_LICENCETYPE
0                   F                None                None
1                   F                None                None
2                   F                   F                None
3                   F                None                None
4                   F                   F                None

Columns 21 to 30:
   DRIVER1_NOOFYEARSUKRESIDENCY  DRIVER2_NOOFYEARSUKRESIDENCY  \
0                           5.0                           7.0
1                          22.0                          49.0
2                          20.0                          57.0
3                          51.0                          49.0
4                          25.0                          53.0

   DRIVER3_NOOFYEARSUKRESIDENCY  DRIVER4_NOOFYEARSUKRESIDENCY  \
0                           NaN                           NaN
1                           NaN                           NaN
2                          51.0                           NaN
3                           NaN                           NaN
4                          51.0                           NaN

  DRIVER1_OTHERVEHICLEOWNEDIND DRIVER2_OTHERVEHICLEOWNEDIND  \
0                            N                            Y
1                            N                            Y
2                            N                            Y
3                            Y                            N
4                            N                            Y

  DRIVER3_OTHERVEHICLEOWNEDIND DRIVER4_OTHERVEHICLEOWNEDIND POSTCODESECTOR  \
0                         None                         None          SN3 3
1                         None                         None         PE21 7
2                            Y                         None          BL3 4
3                         None                         None          CB9 9
4                            Y                         None         NG20 8

   NOOFVEHICLESAVAILABLETOFAMILY
0                            1.0
1                            2.0
2                            4.0
3                            2.0
4                            1.0

Columns 31 to 40:
  MONTHLYPAYMENTSIND  YEARS_NOCLAIMSDISCOUNT  VEHICLE_VALUE  \
0                  N                     3.0         7500.0
1                  N                     4.0         3330.0
2                  N                     3.0        13220.0
3                  Y                     9.0         1540.0
4                  Y                     7.0        12470.0

   VEHICLE_ANNUALMILEAGE               VEHICLE_USE_TYPE  \
0                 4000.0  Social, Domestic And Pleasure
1                 8000.0                      Commuting
2                 3000.0  Social, Domestic And Pleasure
3                 5000.0                      Commuting
4                 8000.0  Social, Domestic And Pleasure

  VEHICLEOVERNIGHTLOCATION VEHICLE_OWNERSHIP VEHICLE_MODIFIEDIND  VEHICLE_AGE  \
0          Parked On Drive                 1                   N          8.0
1          Parked On Drive                 1                   N          9.0
2          Parked On Drive                 1                   N          8.0
3          Parked On Drive                 1                   N         14.0
4          Parked On Drive                 1                   N          1.0

  VEHICLE_BODYTYPE
0               02
1               02
2               02
3               02
4               02

Columns 41 to 50:
  VEHICLE_FUELTYPE VEHICLE_TRANSMISSIONTYPE  VEHICLE_NOOFSEATS  \
0              002                      001                5.0
1              002                      002                5.0
2              001                      001                5.0
3              002                      002                5.0
4              002                      002                5.0

   DRIVER1_CREDITSCORE  DRIVER2_CREDITSCORE  DRIVER3_CREDITSCORE  \
0                275.0                325.0                  NaN
1                350.0                375.0                  NaN
2                400.0                998.0                998.0
3                450.0                450.0                  NaN
4                350.0                200.0                175.0

   DRIVER4_CREDITSCORE VEHICLE_MODEL          VEHICLE_MODELNAME  \
0                  NaN      04135428                  A3 E-TRON
1                  NaN      25737041                    RIO VR7
2                  NaN      04135219  A3 S LINE QUATTRO TDI 185
3                  NaN      22517201                I30 COMFORT
4                  NaN      35691076       MICRA ACENTA IG-T 92

   VEHICLE_CUBICCAPACITY
0                 1395.0
1                 1248.0
2                 1968.0
3                 1396.0
4                  999.0

Columns 51 to 60:
   DRIVER1_NRCONVICTIONS_RECENT  DRIVER2_NRCONVICTIONS_RECENT  \
0                           0.0                           0.0
1                           0.0                           0.0
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           0.0

   DRIVER3_NRCONVICTIONS_RECENT  DRIVER4_NRCONVICTIONS_RECENT  \
0                           NaN                           NaN
1                           NaN                           NaN
2                           0.0                           NaN
3                           NaN                           NaN
4                           0.0                           NaN

   DRIVER1_NRCONVICTIONS_LONGER  DRIVER2_NRCONVICTIONS_LONGER  \
0                           0.0                           0.0
1                           0.0                           0.0
2                           0.0                           0.0
3                           0.0                           0.0
4                           0.0                           0.0

   DRIVER3_NRCONVICTIONS_LONGER  DRIVER4_NRCONVICTIONS_LONGER  \
0                           NaN                           NaN
1                           NaN                           NaN
2                           0.0                           NaN
3                           NaN                           NaN
4                           0.0                           NaN

   DRIVER1_CLAIMSCOUNT_RECENT  DRIVER2_CLAIMSCOUNT_RECENT
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

Columns 61 to 68:
   DRIVER3_CLAIMSCOUNT_RECENT  DRIVER4_CLAIMSCOUNT_RECENT  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         0.0                         NaN
3                         NaN                         NaN
4                         0.0                         NaN

   DRIVER1_CLAIMSCOUNT_LONGER  DRIVER2_CLAIMSCOUNT_LONGER  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         1.0                         0.0

   DRIVER3_CLAIMSCOUNT_LONGER  DRIVER4_CLAIMSCOUNT_LONGER  UNDISCLOSED_CLAIMS  \
0                         NaN                         NaN                 0.0
1                         NaN                         NaN                 0.0
2                         0.0                         NaN                 0.0
3                         NaN                         NaN                 0.0
4                         0.0                         NaN                 1.0

   TOP5PREMIUM
0      2848.94
1       645.28
2      3797.20
3       153.79
4       859.89

In [15]:
# Display missing values in blocks of 10 columns
display_missing_values(df, block_size=10)

Columns 1 to 10:
DAYSTOINCEPTION                         0
MARITALSTATUS                           0
NOOFCHILDREN                            0
HOMEOWNERIND                            0
VEHICLE_DATEMANUFACTURED                0
VEHICLE_LEFTORRIGHTHANDDRIVE            0
VEHICLE_DATEFIRSTREGD                   0
VEHICLE_PURCHASEDATE                    0
DRIVER1_NONMOTORINGCONVICTIONIND        0
DRIVER2_NONMOTORINGCONVICTIONIND    42868
dtype: int64

Columns 11 to 20:
DRIVER3_NONMOTORINGCONVICTIONIND     92036
DRIVER4_NONMOTORINGCONVICTIONIND    104489
DRIVER1_AGE                              0
DRIVER2_AGE                          42868
DRIVER3_AGE                          92036
DRIVER4_AGE                         104489
DRIVER1_LICENCETYPE                      0
DRIVER2_LICENCETYPE                  42868
DRIVER3_LICENCETYPE                  92036
DRIVER4_LICENCETYPE                 104489
dtype: int64

Columns 21 to 30:
DRIVER1_NOOFYEARSUKRESIDENCY          0
DRIVER2_NOOFYEARSUKRESIDENCY      42868
DRIVER3_NOOFYEARSUKRESIDENCY      92036
DRIVER4_NOOFYEARSUKRESIDENCY     104489
DRIVER1_OTHERVEHICLEOWNEDIND          0
DRIVER2_OTHERVEHICLEOWNEDIND      42868
DRIVER3_OTHERVEHICLEOWNEDIND      92036
DRIVER4_OTHERVEHICLEOWNEDIND     104489
POSTCODESECTOR                        0
NOOFVEHICLESAVAILABLETOFAMILY         0
dtype: int64

Columns 31 to 40:
MONTHLYPAYMENTSIND          0
YEARS_NOCLAIMSDISCOUNT      0
VEHICLE_VALUE               0
VEHICLE_ANNUALMILEAGE       0
VEHICLE_USE_TYPE            0
VEHICLEOVERNIGHTLOCATION    0
VEHICLE_OWNERSHIP           0
VEHICLE_MODIFIEDIND         0
VEHICLE_AGE                 0
VEHICLE_BODYTYPE            0
dtype: int64

Columns 41 to 50:
VEHICLE_FUELTYPE                 0
VEHICLE_TRANSMISSIONTYPE         0
VEHICLE_NOOFSEATS                0
DRIVER1_CREDITSCORE            908
DRIVER2_CREDITSCORE          43432
DRIVER3_CREDITSCORE          92175
DRIVER4_CREDITSCORE         104506
VEHICLE_MODEL                    0
VEHICLE_MODELNAME                0
VEHICLE_CUBICCAPACITY            0
dtype: int64

Columns 51 to 60:
DRIVER1_NRCONVICTIONS_RECENT         0
DRIVER2_NRCONVICTIONS_RECENT     42868
DRIVER3_NRCONVICTIONS_RECENT     92036
DRIVER4_NRCONVICTIONS_RECENT    104489
DRIVER1_NRCONVICTIONS_LONGER         0
DRIVER2_NRCONVICTIONS_LONGER     42868
DRIVER3_NRCONVICTIONS_LONGER     92036
DRIVER4_NRCONVICTIONS_LONGER    104489
DRIVER1_CLAIMSCOUNT_RECENT           0
DRIVER2_CLAIMSCOUNT_RECENT       42868
dtype: int64

Columns 61 to 68:
DRIVER3_CLAIMSCOUNT_RECENT     92036
DRIVER4_CLAIMSCOUNT_RECENT    104489
DRIVER1_CLAIMSCOUNT_LONGER         0
DRIVER2_CLAIMSCOUNT_LONGER     42868
DRIVER3_CLAIMSCOUNT_LONGER     92036
DRIVER4_CLAIMSCOUNT_LONGER    104489
UNDISCLOSED_CLAIMS                 0
TOP5PREMIUM                        0
dtype: int64

In [16]:
# Display unique values in blocks of 10 columns
display_unique_values(df, block_size=10)

Columns 1 to 10:
DAYSTOINCEPTION                      30
MARITALSTATUS                         7
NOOFCHILDREN                          2
HOMEOWNERIND                          2
VEHICLE_DATEMANUFACTURED             44
VEHICLE_LEFTORRIGHTHANDDRIVE          2
VEHICLE_DATEFIRSTREGD                44
VEHICLE_PURCHASEDATE                274
DRIVER1_NONMOTORINGCONVICTIONIND      1
DRIVER2_NONMOTORINGCONVICTIONIND      1
dtype: int64

Columns 11 to 20:
DRIVER3_NONMOTORINGCONVICTIONIND     1
DRIVER4_NONMOTORINGCONVICTIONIND     1
DRIVER1_AGE                         66
DRIVER2_AGE                         66
DRIVER3_AGE                         66
DRIVER4_AGE                         65
DRIVER1_LICENCETYPE                  5
DRIVER2_LICENCETYPE                  5
DRIVER3_LICENCETYPE                  5
DRIVER4_LICENCETYPE                  5
dtype: int64

Columns 21 to 30:
DRIVER1_NOOFYEARSUKRESIDENCY       83
DRIVER2_NOOFYEARSUKRESIDENCY       83
DRIVER3_NOOFYEARSUKRESIDENCY       83
DRIVER4_NOOFYEARSUKRESIDENCY       76
DRIVER1_OTHERVEHICLEOWNEDIND        2
DRIVER2_OTHERVEHICLEOWNEDIND        2
DRIVER3_OTHERVEHICLEOWNEDIND        2
DRIVER4_OTHERVEHICLEOWNEDIND        2
POSTCODESECTOR                   8531
NOOFVEHICLESAVAILABLETOFAMILY       9
dtype: int64

Columns 31 to 40:
MONTHLYPAYMENTSIND             2
YEARS_NOCLAIMSDISCOUNT        10
VEHICLE_VALUE               5735
VEHICLE_ANNUALMILEAGE        611
VEHICLE_USE_TYPE               5
VEHICLEOVERNIGHTLOCATION       9
VEHICLE_OWNERSHIP              8
VEHICLE_MODIFIEDIND            2
VEHICLE_AGE                   21
VEHICLE_BODYTYPE               4
dtype: int64

Columns 41 to 50:
VEHICLE_FUELTYPE                2
VEHICLE_TRANSMISSIONTYPE        2
VEHICLE_NOOFSEATS               8
DRIVER1_CREDITSCORE            18
DRIVER2_CREDITSCORE            18
DRIVER3_CREDITSCORE            18
DRIVER4_CREDITSCORE            18
VEHICLE_MODEL               19031
VEHICLE_MODELNAME           13926
VEHICLE_CUBICCAPACITY         394
dtype: int64

Columns 51 to 60:
DRIVER1_NRCONVICTIONS_RECENT    3
DRIVER2_NRCONVICTIONS_RECENT    3
DRIVER3_NRCONVICTIONS_RECENT    3
DRIVER4_NRCONVICTIONS_RECENT    2
DRIVER1_NRCONVICTIONS_LONGER    4
DRIVER2_NRCONVICTIONS_LONGER    4
DRIVER3_NRCONVICTIONS_LONGER    4
DRIVER4_NRCONVICTIONS_LONGER    3
DRIVER1_CLAIMSCOUNT_RECENT      3
DRIVER2_CLAIMSCOUNT_RECENT      3
dtype: int64

Columns 61 to 68:
DRIVER3_CLAIMSCOUNT_RECENT        2
DRIVER4_CLAIMSCOUNT_RECENT        2
DRIVER1_CLAIMSCOUNT_LONGER        5
DRIVER2_CLAIMSCOUNT_LONGER        5
DRIVER3_CLAIMSCOUNT_LONGER        5
DRIVER4_CLAIMSCOUNT_LONGER        4
UNDISCLOSED_CLAIMS                2
TOP5PREMIUM                   90067
dtype: int64

In [17]:
columns_to_delete = [
    'DRIVER1_NONMOTORINGCONVICTIONIND',
    'DRIVER2_NONMOTORINGCONVICTIONIND',
    'DRIVER3_NONMOTORINGCONVICTIONIND',
    'DRIVER4_NONMOTORINGCONVICTIONIND'
]
df.drop(columns=columns_to_delete, inplace=True)

In [18]:
# 1. Handling Missing Values (Feature Engineering)

# As we have too much missing values in some of the columns, so we want to check if these columns (features) are important before we handle the missing values.
# The other way to handle these missing values is feature engineering, that we may want to present the information in another form.

# We create new features: Number of drivers, Average, Maximum, Minimum

In [19]:
# Count the number of drivers based on non-missing age values
df['NUMBER_OF_DRIVERS'] = df[['DRIVER1_AGE', 'DRIVER2_AGE', 'DRIVER3_AGE', 'DRIVER4_AGE']].notna().sum(axis=1)

# Create additional features for drivers' ages
df['MIN_DRIVER_AGE'] = df[['DRIVER1_AGE', 'DRIVER2_AGE', 'DRIVER3_AGE', 'DRIVER4_AGE']].min(axis=1)
df['MAX_DRIVER_AGE'] = df[['DRIVER1_AGE', 'DRIVER2_AGE', 'DRIVER3_AGE', 'DRIVER4_AGE']].max(axis=1)
df['AVERAGE_DRIVER_AGE'] = df[['DRIVER1_AGE', 'DRIVER2_AGE', 'DRIVER3_AGE', 'DRIVER4_AGE']].mean(axis=1)

# Create additional features for UK residency
df['MIN_YEARS_UK_RESIDENCY'] = df[['DRIVER1_NOOFYEARSUKRESIDENCY', 'DRIVER2_NOOFYEARSUKRESIDENCY', 'DRIVER3_NOOFYEARSUKRESIDENCY', 'DRIVER4_NOOFYEARSUKRESIDENCY']].min(axis=1)
df['MAX_YEARS_UK_RESIDENCY'] = df[['DRIVER1_NOOFYEARSUKRESIDENCY', 'DRIVER2_NOOFYEARSUKRESIDENCY', 'DRIVER3_NOOFYEARSUKRESIDENCY', 'DRIVER4_NOOFYEARSUKRESIDENCY']].max(axis=1)
df['AVERAGE_YEARS_UK_RESIDENCY'] = df[['DRIVER1_NOOFYEARSUKRESIDENCY', 'DRIVER2_NOOFYEARSUKRESIDENCY', 'DRIVER3_NOOFYEARSUKRESIDENCY', 'DRIVER4_NOOFYEARSUKRESIDENCY']].mean(axis=1)

# Create additional features for credit scores
df['MIN_CREDIT_SCORE'] = df[['DRIVER1_CREDITSCORE', 'DRIVER2_CREDITSCORE', 'DRIVER3_CREDITSCORE', 'DRIVER4_CREDITSCORE']].min(axis=1)
df['MAX_CREDIT_SCORE'] = df[['DRIVER1_CREDITSCORE', 'DRIVER2_CREDITSCORE', 'DRIVER3_CREDITSCORE', 'DRIVER4_CREDITSCORE']].max(axis=1)
df['AVERAGE_CREDIT_SCORE'] = df[['DRIVER1_CREDITSCORE', 'DRIVER2_CREDITSCORE', 'DRIVER3_CREDITSCORE', 'DRIVER4_CREDITSCORE']].mean(axis=1)

# Create indicator features for DRIVER_NRCONVICTIONS_RECENT
df['INDICATOR_NRCONVICTIONS_RECENT'] = df[['DRIVER1_NRCONVICTIONS_RECENT', 'DRIVER2_NRCONVICTIONS_RECENT', 'DRIVER3_NRCONVICTIONS_RECENT', 'DRIVER4_NRCONVICTIONS_RECENT']].gt(0).any(axis=1).map({True: 'Y', False: 'N'})

# Create indicator features for DRIVER_CLAIMSCOUNT_RECENT
df['INDICATOR_CLAIMSCOUNT_RECENT'] = df[['DRIVER1_CLAIMSCOUNT_RECENT', 'DRIVER2_CLAIMSCOUNT_RECENT', 'DRIVER3_CLAIMSCOUNT_RECENT', 'DRIVER4_CLAIMSCOUNT_RECENT']].gt(0).any(axis=1).map({True: 'Y', False: 'N'})

# Create additional features for DRIVER_NRCONVICTIONS_LONGER
df['MIN_NRCONVICTIONS_LONGER'] = df[['DRIVER1_NRCONVICTIONS_LONGER', 'DRIVER2_NRCONVICTIONS_LONGER', 'DRIVER3_NRCONVICTIONS_LONGER', 'DRIVER4_NRCONVICTIONS_LONGER']].min(axis=1)
df['MAX_NRCONVICTIONS_LONGER'] = df[['DRIVER1_NRCONVICTIONS_LONGER', 'DRIVER2_NRCONVICTIONS_LONGER', 'DRIVER3_NRCONVICTIONS_LONGER', 'DRIVER4_NRCONVICTIONS_LONGER']].max(axis=1)
df['AVERAGE_NRCONVICTIONS_LONGER'] = df[['DRIVER1_NRCONVICTIONS_LONGER', 'DRIVER2_NRCONVICTIONS_LONGER', 'DRIVER3_NRCONVICTIONS_LONGER', 'DRIVER4_NRCONVICTIONS_LONGER']].mean(axis=1)

# Create additional features for DRIVER_CLAIMSCOUNT_LONGER
df['MIN_CLAIMSCOUNT_LONGER'] = df[['DRIVER1_CLAIMSCOUNT_LONGER', 'DRIVER2_CLAIMSCOUNT_LONGER', 'DRIVER3_CLAIMSCOUNT_LONGER', 'DRIVER4_CLAIMSCOUNT_LONGER']].min(axis=1)
df['MAX_CLAIMSCOUNT_LONGER'] = df[['DRIVER1_CLAIMSCOUNT_LONGER', 'DRIVER2_CLAIMSCOUNT_LONGER', 'DRIVER3_CLAIMSCOUNT_LONGER', 'DRIVER4_CLAIMSCOUNT_LONGER']].max(axis=1)
df['AVERAGE_CLAIMSCOUNT_LONGER'] = df[['DRIVER1_CLAIMSCOUNT_LONGER', 'DRIVER2_CLAIMSCOUNT_LONGER', 'DRIVER3_CLAIMSCOUNT_LONGER', 'DRIVER4_CLAIMSCOUNT_LONGER']].mean(axis=1)

# Delete the original columns used for calculations
columns_to_delete = [
    'DRIVER2_AGE', 'DRIVER3_AGE', 'DRIVER4_AGE',
    'DRIVER2_NOOFYEARSUKRESIDENCY', 'DRIVER3_NOOFYEARSUKRESIDENCY', 'DRIVER4_NOOFYEARSUKRESIDENCY',
    'DRIVER2_CREDITSCORE', 'DRIVER3_CREDITSCORE', 'DRIVER4_CREDITSCORE',
    'DRIVER1_NRCONVICTIONS_RECENT', 'DRIVER2_NRCONVICTIONS_RECENT', 'DRIVER3_NRCONVICTIONS_RECENT', 'DRIVER4_NRCONVICTIONS_RECENT',
    'DRIVER2_NRCONVICTIONS_LONGER', 'DRIVER3_NRCONVICTIONS_LONGER', 'DRIVER4_NRCONVICTIONS_LONGER',
    'DRIVER1_CLAIMSCOUNT_RECENT', 'DRIVER2_CLAIMSCOUNT_RECENT', 'DRIVER3_CLAIMSCOUNT_RECENT', 'DRIVER4_CLAIMSCOUNT_RECENT',
    'DRIVER2_CLAIMSCOUNT_LONGER', 'DRIVER3_CLAIMSCOUNT_LONGER', 'DRIVER4_CLAIMSCOUNT_LONGER'
]
df.drop(columns=columns_to_delete, inplace=True)

# Check the newly created features
display_top_5_rows(df, block_size=10)

Columns 1 to 10:
   DAYSTOINCEPTION MARITALSTATUS  NOOFCHILDREN HOMEOWNERIND  \
0              2.0             S           1.0            Y
1             21.0             S           0.0            N
2             29.0             S           0.0            N
3             10.0             M           1.0            Y
4              1.0             S           0.0            Y

  VEHICLE_DATEMANUFACTURED VEHICLE_LEFTORRIGHTHANDDRIVE VEHICLE_DATEFIRSTREGD  \
0               01/01/2015                            R            01/01/2015
1               01/01/2014                            R            01/01/2014
2               01/01/2015                            R            01/01/2015
3               01/01/2009                            R            01/01/2009
4               01/01/2022                            R            01/01/2022

  VEHICLE_PURCHASEDATE  DRIVER1_AGE DRIVER1_LICENCETYPE
0           08/11/2023         21.0                   F
1           01/09/2018         22.0                   F
2           08/11/2023         20.0                   F
3           01/03/2016         51.0                   F
4           01/11/2022         25.0                   F

Columns 11 to 20:
  DRIVER2_LICENCETYPE DRIVER3_LICENCETYPE DRIVER4_LICENCETYPE  \
0                   F                None                None
1                   F                None                None
2                   F                   F                None
3                   F                None                None
4                   F                   F                None

   DRIVER1_NOOFYEARSUKRESIDENCY DRIVER1_OTHERVEHICLEOWNEDIND  \
0                           5.0                            N
1                          22.0                            N
2                          20.0                            N
3                          51.0                            Y
4                          25.0                            N

  DRIVER2_OTHERVEHICLEOWNEDIND DRIVER3_OTHERVEHICLEOWNEDIND  \
0                            Y                         None
1                            Y                         None
2                            Y                            Y
3                            N                         None
4                            Y                            Y

  DRIVER4_OTHERVEHICLEOWNEDIND POSTCODESECTOR  NOOFVEHICLESAVAILABLETOFAMILY
0                         None          SN3 3                            1.0
1                         None         PE21 7                            2.0
2                         None          BL3 4                            4.0
3                         None          CB9 9                            2.0
4                         None         NG20 8                            1.0

Columns 21 to 30:
  MONTHLYPAYMENTSIND  YEARS_NOCLAIMSDISCOUNT  VEHICLE_VALUE  \
0                  N                     3.0         7500.0
1                  N                     4.0         3330.0
2                  N                     3.0        13220.0
3                  Y                     9.0         1540.0
4                  Y                     7.0        12470.0

   VEHICLE_ANNUALMILEAGE               VEHICLE_USE_TYPE  \
0                 4000.0  Social, Domestic And Pleasure
1                 8000.0                      Commuting
2                 3000.0  Social, Domestic And Pleasure
3                 5000.0                      Commuting
4                 8000.0  Social, Domestic And Pleasure

  VEHICLEOVERNIGHTLOCATION VEHICLE_OWNERSHIP VEHICLE_MODIFIEDIND  VEHICLE_AGE  \
0          Parked On Drive                 1                   N          8.0
1          Parked On Drive                 1                   N          9.0
2          Parked On Drive                 1                   N          8.0
3          Parked On Drive                 1                   N         14.0
4          Parked On Drive                 1                   N          1.0

  VEHICLE_BODYTYPE
0               02
1               02
2               02
3               02
4               02

Columns 31 to 40:
  VEHICLE_FUELTYPE VEHICLE_TRANSMISSIONTYPE  VEHICLE_NOOFSEATS  \
0              002                      001                5.0
1              002                      002                5.0
2              001                      001                5.0
3              002                      002                5.0
4              002                      002                5.0

   DRIVER1_CREDITSCORE VEHICLE_MODEL          VEHICLE_MODELNAME  \
0                275.0      04135428                  A3 E-TRON
1                350.0      25737041                    RIO VR7
2                400.0      04135219  A3 S LINE QUATTRO TDI 185
3                450.0      22517201                I30 COMFORT
4                350.0      35691076       MICRA ACENTA IG-T 92

   VEHICLE_CUBICCAPACITY  DRIVER1_NRCONVICTIONS_LONGER  \
0                 1395.0                           0.0
1                 1248.0                           0.0
2                 1968.0                           0.0
3                 1396.0                           0.0
4                  999.0                           0.0

   DRIVER1_CLAIMSCOUNT_LONGER  UNDISCLOSED_CLAIMS
0                         0.0                 0.0
1                         0.0                 0.0
2                         0.0                 0.0
3                         0.0                 0.0
4                         1.0                 1.0

Columns 41 to 50:
   TOP5PREMIUM  NUMBER_OF_DRIVERS  MIN_DRIVER_AGE  MAX_DRIVER_AGE  \
0      2848.94                  2            21.0            49.0
1       645.28                  2            22.0            49.0
2      3797.20                  3            20.0            57.0
3       153.79                  2            49.0            51.0
4       859.89                  3            25.0            53.0

   AVERAGE_DRIVER_AGE  MIN_YEARS_UK_RESIDENCY  MAX_YEARS_UK_RESIDENCY  \
0           35.000000                     5.0                     7.0
1           35.500000                    22.0                    49.0
2           42.666667                    20.0                    57.0
3           50.000000                    49.0                    51.0
4           43.000000                    25.0                    53.0

   AVERAGE_YEARS_UK_RESIDENCY  MIN_CREDIT_SCORE  MAX_CREDIT_SCORE
0                    6.000000             275.0             325.0
1                   35.500000             350.0             375.0
2                   42.666667             400.0             998.0
3                   50.000000             450.0             450.0
4                   43.000000             175.0             350.0

Columns 51 to 59:
   AVERAGE_CREDIT_SCORE INDICATOR_NRCONVICTIONS_RECENT  \
0            300.000000                              N
1            362.500000                              N
2            798.666667                              N
3            450.000000                              N
4            241.666667                              N

  INDICATOR_CLAIMSCOUNT_RECENT  MIN_NRCONVICTIONS_LONGER  \
0                            N                       0.0
1                            N                       0.0
2                            N                       0.0
3                            N                       0.0
4                            N                       0.0

   MAX_NRCONVICTIONS_LONGER  AVERAGE_NRCONVICTIONS_LONGER  \
0                       0.0                           0.0
1                       0.0                           0.0
2                       0.0                           0.0
3                       0.0                           0.0
4                       0.0                           0.0

   MIN_CLAIMSCOUNT_LONGER  MAX_CLAIMSCOUNT_LONGER  AVERAGE_CLAIMSCOUNT_LONGER
0                     0.0                     0.0                    0.000000
1                     0.0                     0.0                    0.000000
2                     0.0                     0.0                    0.000000
3                     0.0                     0.0                    0.000000
4                     0.0                     1.0                    0.333333

In [20]:
# Some adjustments after feature engineering
# Convert the column NUMBER_OF_DRIVERS from int64 to float64
df['NUMBER_OF_DRIVERS'] = df['NUMBER_OF_DRIVERS'].astype('float64')

# Move column TOP5PREMIUM to the last position of dataframe
df = df[[col for col in df if col != 'TOP5PREMIUM'] + ['TOP5PREMIUM']]

# Verify the new order of columns
print(df.columns)

Index(['DAYSTOINCEPTION', 'MARITALSTATUS', 'NOOFCHILDREN', 'HOMEOWNERIND',
       'VEHICLE_DATEMANUFACTURED', 'VEHICLE_LEFTORRIGHTHANDDRIVE',
       'VEHICLE_DATEFIRSTREGD', 'VEHICLE_PURCHASEDATE', 'DRIVER1_AGE',
       'DRIVER1_LICENCETYPE', 'DRIVER2_LICENCETYPE', 'DRIVER3_LICENCETYPE',
       'DRIVER4_LICENCETYPE', 'DRIVER1_NOOFYEARSUKRESIDENCY',
       'DRIVER1_OTHERVEHICLEOWNEDIND', 'DRIVER2_OTHERVEHICLEOWNEDIND',
       'DRIVER3_OTHERVEHICLEOWNEDIND', 'DRIVER4_OTHERVEHICLEOWNEDIND',
       'POSTCODESECTOR', 'NOOFVEHICLESAVAILABLETOFAMILY', 'MONTHLYPAYMENTSIND',
       'YEARS_NOCLAIMSDISCOUNT', 'VEHICLE_VALUE', 'VEHICLE_ANNUALMILEAGE',
       'VEHICLE_USE_TYPE', 'VEHICLEOVERNIGHTLOCATION', 'VEHICLE_OWNERSHIP',
       'VEHICLE_MODIFIEDIND', 'VEHICLE_AGE', 'VEHICLE_BODYTYPE',
       'VEHICLE_FUELTYPE', 'VEHICLE_TRANSMISSIONTYPE', 'VEHICLE_NOOFSEATS',
       'DRIVER1_CREDITSCORE', 'VEHICLE_MODEL', 'VEHICLE_MODELNAME',
       'VEHICLE_CUBICCAPACITY', 'DRIVER1_NRCONVICTIONS_LONGER',
       'DRIVER1_CLAIMSCOUNT_LONGER', 'UNDISCLOSED_CLAIMS', 'NUMBER_OF_DRIVERS',
       'MIN_DRIVER_AGE', 'MAX_DRIVER_AGE', 'AVERAGE_DRIVER_AGE',
       'MIN_YEARS_UK_RESIDENCY', 'MAX_YEARS_UK_RESIDENCY',
       'AVERAGE_YEARS_UK_RESIDENCY', 'MIN_CREDIT_SCORE', 'MAX_CREDIT_SCORE',
       'AVERAGE_CREDIT_SCORE', 'INDICATOR_NRCONVICTIONS_RECENT',
       'INDICATOR_CLAIMSCOUNT_RECENT', 'MIN_NRCONVICTIONS_LONGER',
       'MAX_NRCONVICTIONS_LONGER', 'AVERAGE_NRCONVICTIONS_LONGER',
       'MIN_CLAIMSCOUNT_LONGER', 'MAX_CLAIMSCOUNT_LONGER',
       'AVERAGE_CLAIMSCOUNT_LONGER', 'TOP5PREMIUM'],
      dtype='object')

In [21]:
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
Index: 106074 entries, 0 to 279410
Data columns (total 59 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   DAYSTOINCEPTION                 106074 non-null  float64
 1   MARITALSTATUS                   106074 non-null  object
 2   NOOFCHILDREN                    106074 non-null  float64
 3   HOMEOWNERIND                    106074 non-null  object
 4   VEHICLE_DATEMANUFACTURED        106074 non-null  object
 5   VEHICLE_LEFTORRIGHTHANDDRIVE    106074 non-null  object
 6   VEHICLE_DATEFIRSTREGD           106074 non-null  object
 7   VEHICLE_PURCHASEDATE            106074 non-null  object
 8   DRIVER1_AGE                     106074 non-null  float64
 9   DRIVER1_LICENCETYPE             106074 non-null  object
 10  DRIVER2_LICENCETYPE             63206 non-null   object
 11  DRIVER3_LICENCETYPE             14038 non-null   object
 12  DRIVER4_LICENCETYPE             1585 non-null    object
 13  DRIVER1_NOOFYEARSUKRESIDENCY    106074 non-null  float64
 14  DRIVER1_OTHERVEHICLEOWNEDIND    106074 non-null  object
 15  DRIVER2_OTHERVEHICLEOWNEDIND    63206 non-null   object
 16  DRIVER3_OTHERVEHICLEOWNEDIND    14038 non-null   object
 17  DRIVER4_OTHERVEHICLEOWNEDIND    1585 non-null    object
 18  POSTCODESECTOR                  106074 non-null  object
 19  NOOFVEHICLESAVAILABLETOFAMILY   106074 non-null  float64
 20  MONTHLYPAYMENTSIND              106074 non-null  object
 21  YEARS_NOCLAIMSDISCOUNT          106074 non-null  float64
 22  VEHICLE_VALUE                   106074 non-null  float64
 23  VEHICLE_ANNUALMILEAGE           106074 non-null  float64
 24  VEHICLE_USE_TYPE                106074 non-null  object
 25  VEHICLEOVERNIGHTLOCATION        106074 non-null  object
 26  VEHICLE_OWNERSHIP               106074 non-null  object
 27  VEHICLE_MODIFIEDIND             106074 non-null  object
 28  VEHICLE_AGE                     106074 non-null  float64
 29  VEHICLE_BODYTYPE                106074 non-null  object
 30  VEHICLE_FUELTYPE                106074 non-null  object
 31  VEHICLE_TRANSMISSIONTYPE        106074 non-null  object
 32  VEHICLE_NOOFSEATS               106074 non-null  float64
 33  DRIVER1_CREDITSCORE             105166 non-null  float64
 34  VEHICLE_MODEL                   106074 non-null  object
 35  VEHICLE_MODELNAME               106074 non-null  object
 36  VEHICLE_CUBICCAPACITY           106074 non-null  float64
 37  DRIVER1_NRCONVICTIONS_LONGER    106074 non-null  float64
 38  DRIVER1_CLAIMSCOUNT_LONGER      106074 non-null  float64
 39  UNDISCLOSED_CLAIMS              106074 non-null  float64
 40  NUMBER_OF_DRIVERS               106074 non-null  float64
 41  MIN_DRIVER_AGE                  106074 non-null  float64
 42  MAX_DRIVER_AGE                  106074 non-null  float64
 43  AVERAGE_DRIVER_AGE              106074 non-null  float64
 44  MIN_YEARS_UK_RESIDENCY          106074 non-null  float64
 45  MAX_YEARS_UK_RESIDENCY          106074 non-null  float64
 46  AVERAGE_YEARS_UK_RESIDENCY      106074 non-null  float64
 47  MIN_CREDIT_SCORE                105239 non-null  float64
 48  MAX_CREDIT_SCORE                105239 non-null  float64
 49  AVERAGE_CREDIT_SCORE            105239 non-null  float64
 50  INDICATOR_NRCONVICTIONS_RECENT  106074 non-null  object
 51  INDICATOR_CLAIMSCOUNT_RECENT    106074 non-null  object
 52  MIN_NRCONVICTIONS_LONGER        106074 non-null  float64
 53  MAX_NRCONVICTIONS_LONGER        106074 non-null  float64
 54  AVERAGE_NRCONVICTIONS_LONGER    106074 non-null  float64
 55  MIN_CLAIMSCOUNT_LONGER          106074 non-null  float64
 56  MAX_CLAIMSCOUNT_LONGER          106074 non-null  float64
 57  AVERAGE_CLAIMSCOUNT_LONGER      106074 non-null  float64
 58  TOP5PREMIUM                     106074 non-null  float64
dtypes: float64(32), object(27)
memory usage: 48.6+ MB
None

In [22]:
# Categorise different columns for different processings and manipulations.

In [23]:
numerical_columns = []
date_columns = []
categorical_columns = []
text_columns = []

# Function to categorize columns based on their descriptions and data types
for column in df.columns:
    if column == 'NOOFCHILDREN':
        categorical_columns.append(column)
    elif pd.api.types.is_numeric_dtype(df[column]):
        numerical_columns.append(column)
    elif 'date' in column.lower() or 'day' in column.lower():
        date_columns.append(column)
    elif pd.api.types.is_string_dtype(df[column]):
        unique_values_count = df[column].nunique()
        if unique_values_count > 50:  # Assuming columns with more than 50 unique values are text columns
            text_columns.append(column)
        else:
            categorical_columns.append(column)
    else:
        # Check if column might be a date even if it's not a string type
        try:
            pd.to_datetime(df[column])
            date_columns.append(column)
        except (ValueError, TypeError):
            pass  # If conversion fails, do nothing

# Any columns not categorized should be rechecked and forced into a category
all_categorized_columns = set(numerical_columns + date_columns + categorical_columns + text_columns)
uncategorized_columns = set(df.columns) - all_categorized_columns

for column in uncategorized_columns:
    if pd.api.types.is_numeric_dtype(df[column]):
        numerical_columns.append(column)
    elif pd.api.types.is_string_dtype(df[column]):
        unique_values_count = df[column].nunique()
        if unique_values_count > 50:
            text_columns.append(column)
        else:
            categorical_columns.append(column)
    else:
        # By default, treat any remaining uncategorized columns as categorical or text based on unique values count
        unique_values_count = df[column].nunique()
        if unique_values_count > 50:
            text_columns.append(column)
        else:
            categorical_columns.append(column)

# Convert date columns to datetime if not already
for column in date_columns:
    df[column] = pd.to_datetime(df[column], errors='coerce', dayfirst=True)

# Display categorized columns
print("Numerical Columns:")
print(numerical_columns)

print("\nDate Columns:")
print(date_columns)

print("\nCategorical Columns:")
print(categorical_columns)

print("\nText Columns:")
print(text_columns)

# Identify and print any columns that were not categorized
uncategorized_columns = set(df.columns) - set(numerical_columns) - set(date_columns) - set(categorical_columns) - set(text_columns)
print("\nUncategorized Columns:")
print(list(uncategorized_columns))

Numerical Columns:
['DAYSTOINCEPTION', 'DRIVER1_AGE', 'DRIVER1_NOOFYEARSUKRESIDENCY', 'NOOFVEHICLESAVAILABLETOFAMILY', 'YEARS_NOCLAIMSDISCOUNT', 'VEHICLE_VALUE', 'VEHICLE_ANNUALMILEAGE', 'VEHICLE_AGE', 'VEHICLE_NOOFSEATS', 'DRIVER1_CREDITSCORE', 'VEHICLE_CUBICCAPACITY', 'DRIVER1_NRCONVICTIONS_LONGER', 'DRIVER1_CLAIMSCOUNT_LONGER', 'UNDISCLOSED_CLAIMS', 'NUMBER_OF_DRIVERS', 'MIN_DRIVER_AGE', 'MAX_DRIVER_AGE', 'AVERAGE_DRIVER_AGE', 'MIN_YEARS_UK_RESIDENCY', 'MAX_YEARS_UK_RESIDENCY', 'AVERAGE_YEARS_UK_RESIDENCY', 'MIN_CREDIT_SCORE', 'MAX_CREDIT_SCORE', 'AVERAGE_CREDIT_SCORE', 'MIN_NRCONVICTIONS_LONGER', 'MAX_NRCONVICTIONS_LONGER', 'AVERAGE_NRCONVICTIONS_LONGER', 'MIN_CLAIMSCOUNT_LONGER', 'MAX_CLAIMSCOUNT_LONGER', 'AVERAGE_CLAIMSCOUNT_LONGER', 'TOP5PREMIUM']

Date Columns:
['VEHICLE_DATEMANUFACTURED', 'VEHICLE_DATEFIRSTREGD', 'VEHICLE_PURCHASEDATE']

Categorical Columns:
['MARITALSTATUS', 'NOOFCHILDREN', 'HOMEOWNERIND', 'VEHICLE_LEFTORRIGHTHANDDRIVE', 'DRIVER1_LICENCETYPE', 'DRIVER1_OTHERVEHICLEOWNEDIND', 'MONTHLYPAYMENTSIND', 'VEHICLE_USE_TYPE', 'VEHICLEOVERNIGHTLOCATION', 'VEHICLE_OWNERSHIP', 'VEHICLE_MODIFIEDIND', 'VEHICLE_BODYTYPE', 'VEHICLE_FUELTYPE', 'VEHICLE_TRANSMISSIONTYPE', 'INDICATOR_NRCONVICTIONS_RECENT', 'INDICATOR_CLAIMSCOUNT_RECENT', 'DRIVER4_LICENCETYPE', 'DRIVER3_LICENCETYPE', 'DRIVER2_LICENCETYPE', 'DRIVER4_OTHERVEHICLEOWNEDIND', 'DRIVER2_OTHERVEHICLEOWNEDIND', 'DRIVER3_OTHERVEHICLEOWNEDIND']

Text Columns:
['POSTCODESECTOR', 'VEHICLE_MODEL', 'VEHICLE_MODELNAME']

Uncategorized Columns:
[]

/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])
/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])
/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])
/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])
/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])
/var/folders/s6/qrs3nd7546gbp71pw5fqrnzr0000gn/T/ipykernel_13961/661428004.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df[column])

In [24]:
len(numerical_columns)+len(date_columns)+len(categorical_columns)+len(text_columns)

59

In [25]:
# Display categorized columns and their types
print("Numerical Columns, their Types and Unique Values:")
for col in numerical_columns:
    print(f"{col}: {df[col].dtype}, {df[col].nunique()}")

print("\nDate Columns, their Types and Unique Values:")
for col in date_columns:
    print(f"{col}: {df[col].dtype}, {df[col].nunique()}")

print("\nCategorical Columns, their Types and Unique Values:")
for col in categorical_columns:
    print(f"{col}: {df[col].dtype}, {df[col].nunique()}")

print("\nText Columns, their Types and Unique Values:")
for col in text_columns:
    print(f"{col}: {df[col].dtype}, {df[col].nunique()}")

Numerical Columns, their Types and Unique Values:
DAYSTOINCEPTION: float64, 30
DRIVER1_AGE: float64, 66
DRIVER1_NOOFYEARSUKRESIDENCY: float64, 83
NOOFVEHICLESAVAILABLETOFAMILY: float64, 9
YEARS_NOCLAIMSDISCOUNT: float64, 10
VEHICLE_VALUE: float64, 5735
VEHICLE_ANNUALMILEAGE: float64, 611
VEHICLE_AGE: float64, 21
VEHICLE_NOOFSEATS: float64, 8
DRIVER1_CREDITSCORE: float64, 18
VEHICLE_CUBICCAPACITY: float64, 394
DRIVER1_NRCONVICTIONS_LONGER: float64, 4
DRIVER1_CLAIMSCOUNT_LONGER: float64, 5
UNDISCLOSED_CLAIMS: float64, 2
NUMBER_OF_DRIVERS: float64, 4
MIN_DRIVER_AGE: float64, 66
MAX_DRIVER_AGE: float64, 66
AVERAGE_DRIVER_AGE: float64, 307
MIN_YEARS_UK_RESIDENCY: float64, 83
MAX_YEARS_UK_RESIDENCY: float64, 83
AVERAGE_YEARS_UK_RESIDENCY: float64, 388
MIN_CREDIT_SCORE: float64, 18
MAX_CREDIT_SCORE: float64, 18
AVERAGE_CREDIT_SCORE: float64, 172
MIN_NRCONVICTIONS_LONGER: float64, 4
MAX_NRCONVICTIONS_LONGER: float64, 4
AVERAGE_NRCONVICTIONS_LONGER: float64, 10
MIN_CLAIMSCOUNT_LONGER: float64, 5
MAX_CLAIMSCOUNT_LONGER: float64, 5
AVERAGE_CLAIMSCOUNT_LONGER: float64, 16
TOP5PREMIUM: float64, 90067

Date Columns, their Types and Unique Values:
VEHICLE_DATEMANUFACTURED: datetime64[ns], 44
VEHICLE_DATEFIRSTREGD: datetime64[ns], 44
VEHICLE_PURCHASEDATE: datetime64[ns], 274

Categorical Columns, their Types and Unique Values:
MARITALSTATUS: object, 7
NOOFCHILDREN: float64, 2
HOMEOWNERIND: object, 2
VEHICLE_LEFTORRIGHTHANDDRIVE: object, 2
DRIVER1_LICENCETYPE: object, 5
DRIVER1_OTHERVEHICLEOWNEDIND: object, 2
MONTHLYPAYMENTSIND: object, 2
VEHICLE_USE_TYPE: object, 5
VEHICLEOVERNIGHTLOCATION: object, 9
VEHICLE_OWNERSHIP: object, 8
VEHICLE_MODIFIEDIND: object, 2
VEHICLE_BODYTYPE: object, 4
VEHICLE_FUELTYPE: object, 2
VEHICLE_TRANSMISSIONTYPE: object, 2
INDICATOR_NRCONVICTIONS_RECENT: object, 2
INDICATOR_CLAIMSCOUNT_RECENT: object, 2
DRIVER4_LICENCETYPE: object, 5
DRIVER3_LICENCETYPE: object, 5
DRIVER2_LICENCETYPE: object, 5
DRIVER4_OTHERVEHICLEOWNEDIND: object, 2
DRIVER2_OTHERVEHICLEOWNEDIND: object, 2
DRIVER3_OTHERVEHICLEOWNEDIND: object, 2

Text Columns, their Types and Unique Values:
POSTCODESECTOR: object, 8531
VEHICLE_MODEL: object, 19031
VEHICLE_MODELNAME: object, 13926

In [26]:
# 2. Handling Date Columns

current_date = pd.to_datetime('2024-07-01')
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

# Calculate the age of the vehicle at the specified current date
df['TIME_SINCE_MANUF'] = (current_date - df['VEHICLE_DATEMANUFACTURED']).dt.days / 365.25
# Calculate the time since the vehicle was first registered at the specified current date
df['TIME_SINCE_FIRST_REGD'] = (current_date - df['VEHICLE_DATEFIRSTREGD']).dt.days / 365.25
# Calculate the time since the vehicle was purchased at the specified current date
df['TIME_SINCE_PURCHASE'] = (current_date - df['VEHICLE_PURCHASEDATE']).dt.days / 365.25

# Delete the original date columns
columns_to_delete = [
    'VEHICLE_DATEMANUFACTURED', 
    'VEHICLE_DATEFIRSTREGD', 
    'VEHICLE_PURCHASEDATE'
]
df.drop(columns=columns_to_delete, inplace=True)

date_columns = [
    'TIME_SINCE_MANUF',
    'TIME_SINCE_FIRST_REGD',
    'TIME_SINCE_PURCHASE'
]

# Move column TOP5PREMIUM to the last position of dataframe
df = df[[col for col in df if col != 'TOP5PREMIUM'] + ['TOP5PREMIUM']]

# Display the first few rows to verify the conversion
print(df[date_columns].head())

   TIME_SINCE_MANUF  TIME_SINCE_FIRST_REGD  TIME_SINCE_PURCHASE
0          9.497604               9.497604             0.646133
1         10.496920              10.496920             5.831622
2          9.497604               9.497604             0.646133
3         15.496235              15.496235             8.334018
4          2.496920               2.496920             1.664613

In [27]:
# Ensure 'TOP5PREMIUM' is not in the categorical or text columns list
if 'TOP5PREMIUM' in categorical_columns:
    categorical_columns.remove('TOP5PREMIUM')
if 'TOP5PREMIUM' in text_columns:
    text_columns.remove('TOP5PREMIUM')

# 3. Encoding Categorical Columns with LabelEncoder
label_encoders = {}
label_mappings = {}

# Process each categorical column with LabelEncoder
for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le
    # Store the mapping of original values to encoded values
    label_mappings[col] = dict(zip(le.classes_, le.transform(le.classes_)))

# Display the label mappings
print("Label Encodings:")
for col, mapping in label_mappings.items():
    print(f"Mapping for column '{col}':")
    print(mapping)
    print()

# 4. Encoding Text Columns with Target Encoding
target = df['TOP5PREMIUM']
target_encoder = TargetEncoder()

# Apply target encoding to each text column
for col in text_columns:
    df[col] = target_encoder.fit_transform(df[col], target)

Label Encodings:
Mapping for column 'MARITALSTATUS':
{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'M': 4, 'S': 5, 'W': 6}

Mapping for column 'NOOFCHILDREN':
{0.0: 0, 1.0: 1}

Mapping for column 'HOMEOWNERIND':
{'N': 0, 'Y': 1}

Mapping for column 'VEHICLE_LEFTORRIGHTHANDDRIVE':
{'L': 0, 'R': 1}

Mapping for column 'DRIVER1_LICENCETYPE':
{'E': 0, 'F': 1, 'H': 2, 'N': 3, 'P': 4}

Mapping for column 'DRIVER1_OTHERVEHICLEOWNEDIND':
{'N': 0, 'Y': 1}

Mapping for column 'MONTHLYPAYMENTSIND':
{'N': 0, 'Y': 1}

Mapping for column 'VEHICLE_USE_TYPE':
{'Commuting': 0, 'Non Standard Use': 1, 'Proposers, Employers Or Business Partners Business': 2, 'Social, Domestic And Pleasure': 3, 'Spouses Business': 4}

Mapping for column 'VEHICLEOVERNIGHTLOCATION':
{'Garaged': 0, 'Kept On Private Property': 1, 'Kept On Public Road': 2, 'Locked Compound': 3, 'Office/Factory Car Park': 4, 'Open Public Car Park': 5, 'Parked On Drive': 6, 'Street (Away From Home)': 7, 'Unlocked Garage': 8}

Mapping for column 'VEHICLE_OWNERSHIP':
{'1': 0, '2': 1, '4': 2, '6': 3, '7': 4, '8': 5, 'E': 6, 'H': 7}

Mapping for column 'VEHICLE_MODIFIEDIND':
{'N': 0, 'Y': 1}

Mapping for column 'VEHICLE_BODYTYPE':
{'01': 0, '02': 1, '03': 2, '08': 3}

Mapping for column 'VEHICLE_FUELTYPE':
{'001': 0, '002': 1}

Mapping for column 'VEHICLE_TRANSMISSIONTYPE':
{'001': 0, '002': 1}

Mapping for column 'INDICATOR_NRCONVICTIONS_RECENT':
{'N': 0, 'Y': 1}

Mapping for column 'INDICATOR_CLAIMSCOUNT_RECENT':
{'N': 0, 'Y': 1}

Mapping for column 'DRIVER4_LICENCETYPE':
{'E': 0, 'F': 1, 'H': 2, 'N': 3, 'P': 4, None: 5}

Mapping for column 'DRIVER3_LICENCETYPE':
{'E': 0, 'F': 1, 'H': 2, 'N': 3, 'P': 4, None: 5}

Mapping for column 'DRIVER2_LICENCETYPE':
{'E': 0, 'F': 1, 'H': 2, 'N': 3, 'P': 4, None: 5}

Mapping for column 'DRIVER4_OTHERVEHICLEOWNEDIND':
{'N': 0, 'Y': 1, None: 2}

Mapping for column 'DRIVER2_OTHERVEHICLEOWNEDIND':
{'N': 0, 'Y': 1, None: 2}

Mapping for column 'DRIVER3_OTHERVEHICLEOWNEDIND':
{'N': 0, 'Y': 1, None: 2}

In [28]:
# Display the first few rows to verify the encoding
display_top_5_rows(df, block_size=10)

Columns 1 to 10:
   DAYSTOINCEPTION  MARITALSTATUS  NOOFCHILDREN  HOMEOWNERIND  \
0              2.0              5             1             1
1             21.0              5             0             0
2             29.0              5             0             0
3             10.0              4             1             1
4              1.0              5             0             1

   VEHICLE_LEFTORRIGHTHANDDRIVE  DRIVER1_AGE  DRIVER1_LICENCETYPE  \
0                             1         21.0                    1
1                             1         22.0                    1
2                             1         20.0                    1
3                             1         51.0                    1
4                             1         25.0                    1

   DRIVER2_LICENCETYPE  DRIVER3_LICENCETYPE  DRIVER4_LICENCETYPE
0                    1                    5                    5
1                    1                    5                    5
2                    1                    1                    5
3                    1                    5                    5
4                    1                    1                    5

Columns 11 to 20:
   DRIVER1_NOOFYEARSUKRESIDENCY  DRIVER1_OTHERVEHICLEOWNEDIND  \
0                           5.0                             0
1                          22.0                             0
2                          20.0                             0
3                          51.0                             1
4                          25.0                             0

   DRIVER2_OTHERVEHICLEOWNEDIND  DRIVER3_OTHERVEHICLEOWNEDIND  \
0                             1                             2
1                             1                             2
2                             1                             1
3                             0                             2
4                             1                             1

   DRIVER4_OTHERVEHICLEOWNEDIND  POSTCODESECTOR  \
0                             2     1395.872354
1                             2      957.669068
2                             2     1508.172338
3                             2      918.260335
4                             2     1133.374704

   NOOFVEHICLESAVAILABLETOFAMILY  MONTHLYPAYMENTSIND  YEARS_NOCLAIMSDISCOUNT  \
0                            1.0                   0                     3.0
1                            2.0                   0                     4.0
2                            4.0                   0                     3.0
3                            2.0                   1                     9.0
4                            1.0                   1                     7.0

   VEHICLE_VALUE
0         7500.0
1         3330.0
2        13220.0
3         1540.0
4        12470.0

Columns 21 to 30:
   VEHICLE_ANNUALMILEAGE  VEHICLE_USE_TYPE  VEHICLEOVERNIGHTLOCATION  \
0                 4000.0                 3                         6
1                 8000.0                 0                         6
2                 3000.0                 3                         6
3                 5000.0                 0                         6
4                 8000.0                 3                         6

   VEHICLE_OWNERSHIP  VEHICLE_MODIFIEDIND  VEHICLE_AGE  VEHICLE_BODYTYPE  \
0                  0                    0          8.0                 1
1                  0                    0          9.0                 1
2                  0                    0          8.0                 1
3                  0                    0         14.0                 1
4                  0                    0          1.0                 1

   VEHICLE_FUELTYPE  VEHICLE_TRANSMISSIONTYPE  VEHICLE_NOOFSEATS
0                 1                         0                5.0
1                 1                         1                5.0
2                 0                         0                5.0
3                 1                         1                5.0
4                 1                         1                5.0

Columns 31 to 40:
   DRIVER1_CREDITSCORE  VEHICLE_MODEL  VEHICLE_MODELNAME  \
0                275.0    1326.810663        1276.113038
1                350.0    1404.661130        1360.856084
2                400.0    1400.797796        1400.797796
3                450.0    1115.078438        1237.049636
4                350.0    1099.432878        1041.936190

   VEHICLE_CUBICCAPACITY  DRIVER1_NRCONVICTIONS_LONGER  \
0                 1395.0                           0.0
1                 1248.0                           0.0
2                 1968.0                           0.0
3                 1396.0                           0.0
4                  999.0                           0.0

   DRIVER1_CLAIMSCOUNT_LONGER  UNDISCLOSED_CLAIMS  NUMBER_OF_DRIVERS  \
0                         0.0                 0.0                2.0
1                         0.0                 0.0                2.0
2                         0.0                 0.0                3.0
3                         0.0                 0.0                2.0
4                         1.0                 1.0                3.0

   MIN_DRIVER_AGE  MAX_DRIVER_AGE
0            21.0            49.0
1            22.0            49.0
2            20.0            57.0
3            49.0            51.0
4            25.0            53.0

Columns 41 to 50:
   AVERAGE_DRIVER_AGE  MIN_YEARS_UK_RESIDENCY  MAX_YEARS_UK_RESIDENCY  \
0           35.000000                     5.0                     7.0
1           35.500000                    22.0                    49.0
2           42.666667                    20.0                    57.0
3           50.000000                    49.0                    51.0
4           43.000000                    25.0                    53.0

   AVERAGE_YEARS_UK_RESIDENCY  MIN_CREDIT_SCORE  MAX_CREDIT_SCORE  \
0                    6.000000             275.0             325.0
1                   35.500000             350.0             375.0
2                   42.666667             400.0             998.0
3                   50.000000             450.0             450.0
4                   43.000000             175.0             350.0

   AVERAGE_CREDIT_SCORE  INDICATOR_NRCONVICTIONS_RECENT  \
0            300.000000                               0
1            362.500000                               0
2            798.666667                               0
3            450.000000                               0
4            241.666667                               0

   INDICATOR_CLAIMSCOUNT_RECENT  MIN_NRCONVICTIONS_LONGER
0                             0                       0.0
1                             0                       0.0
2                             0                       0.0
3                             0                       0.0
4                             0                       0.0

Columns 51 to 59:
   MAX_NRCONVICTIONS_LONGER  AVERAGE_NRCONVICTIONS_LONGER  \
0                       0.0                           0.0
1                       0.0                           0.0
2                       0.0                           0.0
3                       0.0                           0.0
4                       0.0                           0.0

   MIN_CLAIMSCOUNT_LONGER  MAX_CLAIMSCOUNT_LONGER  AVERAGE_CLAIMSCOUNT_LONGER  \
0                     0.0                     0.0                    0.000000
1                     0.0                     0.0                    0.000000
2                     0.0                     0.0                    0.000000
3                     0.0                     0.0                    0.000000
4                     0.0                     1.0                    0.333333

   TIME_SINCE_MANUF  TIME_SINCE_FIRST_REGD  TIME_SINCE_PURCHASE  TOP5PREMIUM
0          9.497604               9.497604             0.646133      2848.94
1         10.496920              10.496920             5.831622       645.28
2          9.497604               9.497604             0.646133      3797.20
3         15.496235              15.496235             8.334018       153.79
4          2.496920               2.496920             1.664613       859.89

In [29]:
display_missing_values(df)

Columns 1 to 10:
DAYSTOINCEPTION                 0
MARITALSTATUS                   0
NOOFCHILDREN                    0
HOMEOWNERIND                    0
VEHICLE_LEFTORRIGHTHANDDRIVE    0
DRIVER1_AGE                     0
DRIVER1_LICENCETYPE             0
DRIVER2_LICENCETYPE             0
DRIVER3_LICENCETYPE             0
DRIVER4_LICENCETYPE             0
dtype: int64

Columns 11 to 20:
DRIVER1_NOOFYEARSUKRESIDENCY     0
DRIVER1_OTHERVEHICLEOWNEDIND     0
DRIVER2_OTHERVEHICLEOWNEDIND     0
DRIVER3_OTHERVEHICLEOWNEDIND     0
DRIVER4_OTHERVEHICLEOWNEDIND     0
POSTCODESECTOR                   0
NOOFVEHICLESAVAILABLETOFAMILY    0
MONTHLYPAYMENTSIND               0
YEARS_NOCLAIMSDISCOUNT           0
VEHICLE_VALUE                    0
dtype: int64

Columns 21 to 30:
VEHICLE_ANNUALMILEAGE       0
VEHICLE_USE_TYPE            0
VEHICLEOVERNIGHTLOCATION    0
VEHICLE_OWNERSHIP           0
VEHICLE_MODIFIEDIND         0
VEHICLE_AGE                 0
VEHICLE_BODYTYPE            0
VEHICLE_FUELTYPE            0
VEHICLE_TRANSMISSIONTYPE    0
VEHICLE_NOOFSEATS           0
dtype: int64

Columns 31 to 40:
DRIVER1_CREDITSCORE             908
VEHICLE_MODEL                     0
VEHICLE_MODELNAME                 0
VEHICLE_CUBICCAPACITY             0
DRIVER1_NRCONVICTIONS_LONGER      0
DRIVER1_CLAIMSCOUNT_LONGER        0
UNDISCLOSED_CLAIMS                0
NUMBER_OF_DRIVERS                 0
MIN_DRIVER_AGE                    0
MAX_DRIVER_AGE                    0
dtype: int64

Columns 41 to 50:
AVERAGE_DRIVER_AGE                  0
MIN_YEARS_UK_RESIDENCY              0
MAX_YEARS_UK_RESIDENCY              0
AVERAGE_YEARS_UK_RESIDENCY          0
MIN_CREDIT_SCORE                  835
MAX_CREDIT_SCORE                  835
AVERAGE_CREDIT_SCORE              835
INDICATOR_NRCONVICTIONS_RECENT      0
INDICATOR_CLAIMSCOUNT_RECENT        0
MIN_NRCONVICTIONS_LONGER            0
dtype: int64

Columns 51 to 59:
MAX_NRCONVICTIONS_LONGER        0
AVERAGE_NRCONVICTIONS_LONGER    0
MIN_CLAIMSCOUNT_LONGER          0
MAX_CLAIMSCOUNT_LONGER          0
AVERAGE_CLAIMSCOUNT_LONGER      0
TIME_SINCE_MANUF                0
TIME_SINCE_FIRST_REGD           0
TIME_SINCE_PURCHASE             0
TOP5PREMIUM                     0
dtype: int64

In [30]:
null_rows_count = df[
    df['MIN_CREDIT_SCORE'].isnull() & 
    df['MAX_CREDIT_SCORE'].isnull() & 
    df['AVERAGE_CREDIT_SCORE'].isnull()
].shape[0]
print(f"Number of rows where DRIVER3_AGE, DRIVER3_OTHERVEHICLEOWNEDIND, and DRIVER3_CREDITSCORE are all not null: {null_rows_count}")

Number of rows where DRIVER3_AGE, DRIVER3_OTHERVEHICLEOWNEDIND, and DRIVER3_CREDITSCORE are all not null: 835

In [31]:
df_cleaned = df.dropna()

In [32]:
df_cleaned.isnull().sum().sum()

0

In [33]:
display_unique_values(df_cleaned, block_size=10)

Columns 1 to 10:
DAYSTOINCEPTION                 30
MARITALSTATUS                    7
NOOFCHILDREN                     2
HOMEOWNERIND                     2
VEHICLE_LEFTORRIGHTHANDDRIVE     2
DRIVER1_AGE                     66
DRIVER1_LICENCETYPE              5
DRIVER2_LICENCETYPE              6
DRIVER3_LICENCETYPE              6
DRIVER4_LICENCETYPE              6
dtype: int64

Columns 11 to 20:
DRIVER1_NOOFYEARSUKRESIDENCY       83
DRIVER1_OTHERVEHICLEOWNEDIND        2
DRIVER2_OTHERVEHICLEOWNEDIND        3
DRIVER3_OTHERVEHICLEOWNEDIND        3
DRIVER4_OTHERVEHICLEOWNEDIND        3
POSTCODESECTOR                   8508
NOOFVEHICLESAVAILABLETOFAMILY       9
MONTHLYPAYMENTSIND                  2
YEARS_NOCLAIMSDISCOUNT             10
VEHICLE_VALUE                    5722
dtype: int64

Columns 21 to 30:
VEHICLE_ANNUALMILEAGE       609
VEHICLE_USE_TYPE              5
VEHICLEOVERNIGHTLOCATION      9
VEHICLE_OWNERSHIP             8
VEHICLE_MODIFIEDIND           2
VEHICLE_AGE                  21
VEHICLE_BODYTYPE              4
VEHICLE_FUELTYPE              2
VEHICLE_TRANSMISSIONTYPE      2
VEHICLE_NOOFSEATS             8
dtype: int64

Columns 31 to 40:
DRIVER1_CREDITSCORE                18
VEHICLE_MODEL                   18830
VEHICLE_MODELNAME               13812
VEHICLE_CUBICCAPACITY             392
DRIVER1_NRCONVICTIONS_LONGER        4
DRIVER1_CLAIMSCOUNT_LONGER          5
UNDISCLOSED_CLAIMS                  2
NUMBER_OF_DRIVERS                   4
MIN_DRIVER_AGE                     66
MAX_DRIVER_AGE                     66
dtype: int64

Columns 41 to 50:
AVERAGE_DRIVER_AGE                306
MIN_YEARS_UK_RESIDENCY             83
MAX_YEARS_UK_RESIDENCY             83
AVERAGE_YEARS_UK_RESIDENCY        388
MIN_CREDIT_SCORE                   18
MAX_CREDIT_SCORE                   18
AVERAGE_CREDIT_SCORE              172
INDICATOR_NRCONVICTIONS_RECENT      2
INDICATOR_CLAIMSCOUNT_RECENT        2
MIN_NRCONVICTIONS_LONGER            4
dtype: int64

Columns 51 to 59:
MAX_NRCONVICTIONS_LONGER            4
AVERAGE_NRCONVICTIONS_LONGER       10
MIN_CLAIMSCOUNT_LONGER              5
MAX_CLAIMSCOUNT_LONGER              5
AVERAGE_CLAIMSCOUNT_LONGER         16
TIME_SINCE_MANUF                   44
TIME_SINCE_FIRST_REGD              44
TIME_SINCE_PURCHASE               274
TOP5PREMIUM                     89378
dtype: int64

In [34]:
display_top_5_rows(df_cleaned, block_size=10)

Columns 1 to 10:
   DAYSTOINCEPTION  MARITALSTATUS  NOOFCHILDREN  HOMEOWNERIND  \
0              2.0              5             1             1
1             21.0              5             0             0
2             29.0              5             0             0
3             10.0              4             1             1
4              1.0              5             0             1

   VEHICLE_LEFTORRIGHTHANDDRIVE  DRIVER1_AGE  DRIVER1_LICENCETYPE  \
0                             1         21.0                    1
1                             1         22.0                    1
2                             1         20.0                    1
3                             1         51.0                    1
4                             1         25.0                    1

   DRIVER2_LICENCETYPE  DRIVER3_LICENCETYPE  DRIVER4_LICENCETYPE
0                    1                    5                    5
1                    1                    5                    5
2                    1                    1                    5
3                    1                    5                    5
4                    1                    1                    5

Columns 11 to 20:
   DRIVER1_NOOFYEARSUKRESIDENCY  DRIVER1_OTHERVEHICLEOWNEDIND  \
0                           5.0                             0
1                          22.0                             0
2                          20.0                             0
3                          51.0                             1
4                          25.0                             0

   DRIVER2_OTHERVEHICLEOWNEDIND  DRIVER3_OTHERVEHICLEOWNEDIND  \
0                             1                             2
1                             1                             2
2                             1                             1
3                             0                             2
4                             1                             1

   DRIVER4_OTHERVEHICLEOWNEDIND  POSTCODESECTOR  \
0                             2     1395.872354
1                             2      957.669068
2                             2     1508.172338
3                             2      918.260335
4                             2     1133.374704

   NOOFVEHICLESAVAILABLETOFAMILY  MONTHLYPAYMENTSIND  YEARS_NOCLAIMSDISCOUNT  \
0                            1.0                   0                     3.0
1                            2.0                   0                     4.0
2                            4.0                   0                     3.0
3                            2.0                   1                     9.0
4                            1.0                   1                     7.0

   VEHICLE_VALUE
0         7500.0
1         3330.0
2        13220.0
3         1540.0
4        12470.0

Columns 21 to 30:
   VEHICLE_ANNUALMILEAGE  VEHICLE_USE_TYPE  VEHICLEOVERNIGHTLOCATION  \
0                 4000.0                 3                         6
1                 8000.0                 0                         6
2                 3000.0                 3                         6
3                 5000.0                 0                         6
4                 8000.0                 3                         6

   VEHICLE_OWNERSHIP  VEHICLE_MODIFIEDIND  VEHICLE_AGE  VEHICLE_BODYTYPE  \
0                  0                    0          8.0                 1
1                  0                    0          9.0                 1
2                  0                    0          8.0                 1
3                  0                    0         14.0                 1
4                  0                    0          1.0                 1

   VEHICLE_FUELTYPE  VEHICLE_TRANSMISSIONTYPE  VEHICLE_NOOFSEATS
0                 1                         0                5.0
1                 1                         1                5.0
2                 0                         0                5.0
3                 1                         1                5.0
4                 1                         1                5.0

Columns 31 to 40:
   DRIVER1_CREDITSCORE  VEHICLE_MODEL  VEHICLE_MODELNAME  \
0                275.0    1326.810663        1276.113038
1                350.0    1404.661130        1360.856084
2                400.0    1400.797796        1400.797796
3                450.0    1115.078438        1237.049636
4                350.0    1099.432878        1041.936190

   VEHICLE_CUBICCAPACITY  DRIVER1_NRCONVICTIONS_LONGER  \
0                 1395.0                           0.0
1                 1248.0                           0.0
2                 1968.0                           0.0
3                 1396.0                           0.0
4                  999.0                           0.0

   DRIVER1_CLAIMSCOUNT_LONGER  UNDISCLOSED_CLAIMS  NUMBER_OF_DRIVERS  \
0                         0.0                 0.0                2.0
1                         0.0                 0.0                2.0
2                         0.0                 0.0                3.0
3                         0.0                 0.0                2.0
4                         1.0                 1.0                3.0

   MIN_DRIVER_AGE  MAX_DRIVER_AGE
0            21.0            49.0
1            22.0            49.0
2            20.0            57.0
3            49.0            51.0
4            25.0            53.0

Columns 41 to 50:

   AVERAGE_DRIVER_AGE  MIN_YEARS_UK_RESIDENCY  MAX_YEARS_UK_RESIDENCY  \
0           35.000000                     5.0                     7.0
1           35.500000                    22.0                    49.0
2           42.666667                    20.0                    57.0
3           50.000000                    49.0                    51.0
4           43.000000                    25.0                    53.0

   AVERAGE_YEARS_UK_RESIDENCY  MIN_CREDIT_SCORE  MAX_CREDIT_SCORE  \
0                    6.000000             275.0             325.0
1                   35.500000             350.0             375.0
2                   42.666667             400.0             998.0
3                   50.000000             450.0             450.0
4                   43.000000             175.0             350.0

   AVERAGE_CREDIT_SCORE  INDICATOR_NRCONVICTIONS_RECENT  \
0            300.000000                               0
1            362.500000                               0
2            798.666667                               0
3            450.000000                               0
4            241.666667                               0

   INDICATOR_CLAIMSCOUNT_RECENT  MIN_NRCONVICTIONS_LONGER
0                             0                       0.0
1                             0                       0.0
2                             0                       0.0
3                             0                       0.0
4                             0                       0.0

Columns 51 to 59:
   MAX_NRCONVICTIONS_LONGER  AVERAGE_NRCONVICTIONS_LONGER  \
0                       0.0                           0.0
1                       0.0                           0.0
2                       0.0                           0.0
3                       0.0                           0.0
4                       0.0                           0.0

   MIN_CLAIMSCOUNT_LONGER  MAX_CLAIMSCOUNT_LONGER  AVERAGE_CLAIMSCOUNT_LONGER  \
0                     0.0                     0.0                    0.000000
1                     0.0                     0.0                    0.000000
2                     0.0                     0.0                    0.000000
3                     0.0                     0.0                    0.000000
4                     0.0                     1.0                    0.333333

   TIME_SINCE_MANUF  TIME_SINCE_FIRST_REGD  TIME_SINCE_PURCHASE  TOP5PREMIUM
0          9.497604               9.497604             0.646133      2848.94
1         10.496920              10.496920             5.831622       645.28
2          9.497604               9.497604             0.646133      3797.20
3         15.496235              15.496235             8.334018       153.79
4          2.496920               2.496920             1.664613       859.89

In [35]:
# Counting unique values in the column 'DRIVER1_NONMOTORINGCONVICTIONIND'
value_counts = df_cleaned['VEHICLE_NOOFSEATS'].value_counts()

# Display the result
print(value_counts)

VEHICLE_NOOFSEATS
5.0    86027
4.0    14076
7.0     3669
2.0     1226
8.0       76
3.0       52
6.0       36
1.0        4
Name: count, dtype: int64

In [36]:
df_cleaned.to_parquet('fe_df_cleaned.parquet', index=False)

In [37]:
fe_cleaned_overall = df_cleaned[(df_cleaned['TOP5PREMIUM'] >= 0) & (df_cleaned['TOP5PREMIUM'] <= 3000)]
fe_cleaned_overall.to_parquet('fe_cleaned_overall.parquet')